// Survival ✚ Kit
// Bootstrapper File

// Dependencies
// ----------------------------------------
@import "compass";
@import "compass/layout/sticky-footer";
@import "vendor/boilerplate/reset";
@import "vendor/survival-kit/loader";
@import "vendor/fancy-buttons/fancy-buttons";


// Project Variables
// ----------------------------------------
$debug                     : true;
$base-font-family          : "Helvetica Neue", Arial, Helvetica, sans-serif;
$base-font-size            : 12px;
$base-line-height          : 1.231;
$font-color                : #444;  //looks better than black: twitter.com/H_FJ/statuses/11800719859
$link-color                : #607890;
$link-hover-color          : #036;
$selected-font-color       : #fff;
$selected-background-color : #ff5e99;
$list-left-margin          : 2em;
$selection-color           : #2E7CA8;

// ----------------------------------------

$my-site-variables         : true;

// Hooks
// ----------------------------------------
// Mixins that are called from the Library files to add some extra styling.

@mixin sk-html() { }

@mixin sk-body() {}

// h1, h2, h3, h4, h5, h6
@mixin sk-header-tags() {
  color:$font-color;
  font-weight:bold;
}


// Global Styling
// ----------------------------------------
// Calculate all H# Tags.
@include htags-sizes($base-font-size + 26px);
// Add Styling for Simple_Forms.
@include simple-forms;


// Global Classes for extension.
// ----------------------------------------
// Here you can store classes which are used as extensions across all the project, like sprites and whatnot.
.ext-my-class {}


// The Partials
// ----------------------------------------
// Base styles tanks to html5boilerplate. This one uses the Hooks defined before.
@import "vendor/boilerplate/styles";

// -- Shared Partials
	// Headers and related material go here.
	@import "app/shared/headers";
	// Footers and related material go here.
	@import "app/shared/footers";
	// Content and Related Material go here.
	@import "app/shared/contents";
	// Internet Explorer Custom CSS go here.
	@import "app/shared/ie";

// -- Layouts Partials
	// The most general one goes first
	@import "app/layouts/application";