/*
  This is a compiled file! Any changes here may be overriden. 
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.ext-hide-text {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: block;
  direction: ltr;
  outline: none;
}

.w {
  margin: 0 auto;
  width: 1000px;
}

/* incase an inverted custom gradient isn't specified */
.fancy-button-reset-base-class {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('../images/vendor/fancy-buttons/button_bg.png?1313583093') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
.fancy-button-reset-base-class::-moz-focus-inner {
  border: none;
  padding: 0;
}
.fancy-button-reset-base-class:focus {
  outline: none;
}

h1 {
  font-size: 248%;
  line-height: 36.561px;
  margin: 13.5px 0;
}

h2 {
  font-size: 220%;
  line-height: 32.498px;
  margin: 12.0px 0;
}

h3 {
  font-size: 193%;
  line-height: 28.436px;
  margin: 10.5px 0;
}

h4 {
  font-size: 165%;
  line-height: 24.374px;
  margin: 9.0px 0;
}

h5 {
  font-size: 138%;
  line-height: 20.312px;
  margin: 7.5px 0;
}

h6 {
  font-size: 110%;
  line-height: 16.249px;
  margin: 6.0px 0;
}

.simple_form > .hint {
  padding: 6px 0;
  display: inline-block;
}
.simple_form > .hint.padded {
  margin-left: 6px;
}
.simple_form p {
  padding: 6px 0;
  margin: 3px;
}
.simple_form label {
  vertical-align: middle;
  display: inline-block;
  margin: 0 3px 0 0;
  padding: 6px 0;
  line-height: 15.12px;
}
.simple_form label abbr {
  color: #E62500;
  margin-right: 3px;
}
.simple_form .ext-sfr, .simple_form .input .hint, .simple_form span.error {
  display: inline-block;
  width: 184px;
  vertical-align: middle;
}
.simple_form .input {
  padding: 3px 0;
}
.simple_form .input .hint {
  margin-left: 3px;
  color: #6e6e6e;
}
.simple_form select {
  border: 1px solid #CCCCCC;
  outline: none;
  height: 26px;
}
.simple_form select:focus {
  border: 1px solid #7dbef1;
}
.simple_form .select select {
  width: 312px;
}
.simple_form textarea, .simple_form input[type=text], .simple_form input[type=password] {
  font-size: 12px;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.2);
  -o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.2);
  outline: 0;
  padding: 6px 6px;
  vertical-align: top;
  width: 300px;
  border: 1px solid #CCCCCC;
}
.simple_form textarea:focus, .simple_form input[type=text]:focus, .simple_form input[type=password]:focus {
  -moz-box-shadow: 0 0 6px #7dbef1;
  -webkit-box-shadow: 0 0 6px #7dbef1;
  -o-box-shadow: 0 0 6px #7dbef1;
  box-shadow: 0 0 6px #7dbef1;
  border: 1px solid #7dbef1;
}
.simple_form input.check_boxes, .simple_form input.radio, .simple_form input.boolean {
  vertical-align: middle;
  margin-right: 3px;
}
.simple_form span.error {
  color: #D65C5C;
  font-size: 12px;
  margin-left: 10px;
}
.simple_form #error_explanation {
  background: #FFEBD6;
  padding: 10px 14px;
  border: 1px solid #FFB36C;
  margin: 12px 0;
  color: #895334;
  -moz-box-shadow: #d4d4d4 0 0 10px;
  -webkit-box-shadow: #d4d4d4 0 0 10px;
  -o-box-shadow: #d4d4d4 0 0 10px;
  box-shadow: #d4d4d4 0 0 10px;
}
.simple_form #error_explanation h2 {
  font-size: 150%;
  line-height: 22.158px;
  margin: 8.182px 0;
  color: #AE4910;
  margin-top: 0;
}

.ext-corners {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

body {
  font-size: 12px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 1.231;
  *font-size: small;
  color: #222;
}

p {
  margin: 0 0 1.5em;
}

blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic;
}

select, input, textarea, button {
  font: 99% "Helvetica Neue", Arial, Helvetica, sans-serif;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

small {
  font-size: 85%;
}

strong, b, th, dfn {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

html {
  overflow-y: scroll;
}

a {
  text-decoration: none;
}

a:hover, a:active {
  outline: none;
  text-decoration: underline;
}

ul, ol {
  margin-left: 2em;
}

ol {
  list-style-type: decimal;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
}

address {
  margin: 0 0 1.5em;
  font-style: italic;
}

del {
  color: #666;
}

nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

dl {
  margin: 0 0 1.5em 0;
}

dl dt {
  font-weight: bold;
}

dd {
  margin-left: 1.5em;
}

td {
  vertical-align: top;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

table {
  margin-bottom: 1.4em;
  width: 100%;
}

th {
  font-weight: bold;
}

th, td, caption {
  padding: 4px 10px 4px 5px;
  text-align: left;
}

tfoot {
  font-style: italic;
}

caption {
  background: #eee;
}

textarea {
  overflow: auto;
}

.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

button, input, select, textarea {
  margin: 0;
}

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

::-moz-selection {
  background: #2e7ca8;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #2e7ca8;
  color: #fff;
  text-shadow: none;
}

a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

button {
  width: auto;
  overflow: visible;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

body, select, input, textarea {
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  color: #445555;
  font-weight: bold;
}

a, a:active, a:visited {
  color: #607890;
}

a:hover {
  color: #003366;
}

html, body {
  height: 100%;
}

#container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -54px;
}
#container #footer-spacing {
  height: 54px;
}

footer {
  clear: both;
  position: relative;
  height: 54px;
}

.application #main {
  margin: 0 auto;
  padding: 0 8px;
  width: 984px;
  overflow: hidden;
  *zoom: 1;
}
.application .container > aside {
  width: 215px;
  float: left;
}
.application .container > .content {
  width: 758px;
  float: right;
}
