/*
  This is a compiled file! Any changes here may be overriden. 
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select {
  vertical-align: middle;
}

.ext-hide-text {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: block;
  direction: ltr;
  outline: none;
}

.w {
  margin: 0 auto;
  width: 1000px;
}

/* incase an inverted custom gradient isn't specified */
.fancy-button-reset-base-class {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('../images/vendor/fancy-buttons/button_bg.png?1306784179') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
.fancy-button-reset-base-class::-moz-focus-inner {
  border: none;
  padding: 0;
}
.fancy-button-reset-base-class:focus {
  outline: none;
}

h1 {
  font-size: 229%;
  line-height: 36.561px;
  margin: 13.5px 0;
}

h2 {
  font-size: 204%;
  line-height: 32.498px;
  margin: 12.0px 0;
}

h3 {
  font-size: 178%;
  line-height: 28.436px;
  margin: 10.5px 0;
}

h4 {
  font-size: 153%;
  line-height: 24.374px;
  margin: 9.0px 0;
}

h5 {
  font-size: 127%;
  line-height: 20.312px;
  margin: 7.5px 0;
}

h6 {
  font-size: 102%;
  line-height: 16.249px;
  margin: 6.0px 0;
}

.ext-corners {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

html {
  overflow-y: scroll;
}

body, select, input, textarea {
  color: #222222;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

body {
  font-size: 13px;
  line-height: 1.231;
}

p {
  margin: 0 0 1.5em 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

ul, ol {
  margin: 1em 0;
}

ol {
  list-style-type: decimal;
}

nav ul,
nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

dl {
  margin: 0 0 1.5em 0;
}

dl dt {
  font-weight: bold;
}

dd {
  margin-left: 1.5em;
}

a {
  text-decoration: none;
}

a:hover, a:active {
  outline: none;
  text-decoration: underline;
}

a, a:active, a:visited {
  color: #0000ee;
}

a:hover {
  color: #0066ee;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

small {
  font-size: 85%;
}

strong, b, th, dfn {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
}

address {
  margin: 0 0 1.5em;
  font-style: italic;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

table {
  margin-bottom: 1.4em;
  width: 100%;
}

th {
  font-weight: bold;
}

th, td, caption {
  padding: 4px 10px 4px 5px;
  text-align: left;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

del {
  color: #666;
}

select, input, textarea, button {
  font: 99% "Helvetica Neue", Arial, Helvetica, sans-serif;
}

td {
  vertical-align: top;
}

textarea {
  overflow: auto;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

button, input, select, textarea {
  margin: 0;
}

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

button {
  width: auto;
  overflow: visible;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

::-moz-selection {
  background: #fe57a1;
  color: white;
  text-shadow: none;
}

::selection {
  background: #fe57a1;
  color: white;
  text-shadow: none;
}

html, body {
  height: 100%;
}

#container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -54px;
}
#container #footer-spacing {
  height: 54px;
}

footer {
  clear: both;
  position: relative;
  height: 54px;
}

.app #main {
  margin: 0 auto;
  padding: 0 8px;
  width: 984px;
  overflow: hidden;
  *zoom: 1;
}
.app .container > aside {
  width: 215px;
  float: left;
}
.app .container > .content {
  width: 758px;
  float: right;
}
