/*
  This is a compiled file.
*/
/* line 12, ../src/stylesheets/vendor/boilerplate-1.0/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 22, ../src/stylesheets/vendor/boilerplate-1.0/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../src/stylesheets/vendor/boilerplate-1.0/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../src/stylesheets/vendor/boilerplate-1.0/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 31, ../src/stylesheets/vendor/boilerplate-1.0/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 33, ../src/stylesheets/vendor/boilerplate-1.0/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 35, ../src/stylesheets/vendor/boilerplate-1.0/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 37, ../src/stylesheets/vendor/boilerplate-1.0/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 115, ../src/stylesheets/vendor/survival-kit/_images.scss */
.ext-hide-text {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: block;
  direction: ltr;
  outline: none;
}

/* line 29, ../src/stylesheets/vendor/survival-kit/_tools.scss */
.no-mp {
  margin: 0;
  padding: 0;
}

/* line 96, ../src/stylesheets/vendor/survival-kit/_tools.scss */
.w {
  margin: 0 auto;
  width: 1000px;
}

/* line 34, ../src/stylesheets/vendor/survival-kit/_headers.scss */
h1 {
  font-size: 229%;
  line-height: 36.561px;
  margin: 13.5px 0;
}

/* line 34, ../src/stylesheets/vendor/survival-kit/_headers.scss */
h2 {
  font-size: 204%;
  line-height: 32.498px;
  margin: 12.0px 0;
}

/* line 34, ../src/stylesheets/vendor/survival-kit/_headers.scss */
h3 {
  font-size: 178%;
  line-height: 28.436px;
  margin: 10.5px 0;
}

/* line 34, ../src/stylesheets/vendor/survival-kit/_headers.scss */
h4 {
  font-size: 153%;
  line-height: 24.374px;
  margin: 9.0px 0;
}

/* line 34, ../src/stylesheets/vendor/survival-kit/_headers.scss */
h5 {
  font-size: 127%;
  line-height: 20.312px;
  margin: 7.5px 0;
}

/* line 34, ../src/stylesheets/vendor/survival-kit/_headers.scss */
h6 {
  font-size: 102%;
  line-height: 16.249px;
  margin: 6.0px 0;
}

/* line 73, ../src/stylesheets/application.css.scss */
.bradius {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}

/* line 74, ../src/stylesheets/application.css.scss */
.bradius-inner {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

/* line 13, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
html {
  overflow-y: scroll;
}

/* line 22, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
body, select, input, textarea {
  color: #222222;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* line 24, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
body {
  font-size: 13px;
  line-height: 1.231;
}

/* line 30, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
p {
  margin: 0 0 1.5em 0;
}

/* line 32, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 34, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic;
}

/* line 39, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

/* line 45, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 48, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

/* line 50, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
ol {
  list-style-type: decimal;
}

/* line 54, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
nav ul,
nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 57, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
dl {
  margin: 0 0 1.5em 0;
}

/* line 59, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
dl dt {
  font-weight: bold;
}

/* line 61, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
dd {
  margin-left: 1.5em;
}

/* line 68, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
a {
  text-decoration: none;
}

/* line 70, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
a:hover, a:active {
  outline: none;
  text-decoration: underline;
}

/* line 72, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
a, a:active, a:visited {
  color: #388dda;
}

/* line 74, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
a:hover {
  color: #0066ee;
}

/* line 80, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

/* line 82, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
small {
  font-size: 85%;
}

/* line 84, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
strong, b, th, dfn {
  font-weight: bold;
}

/* line 86, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
em, i {
  font-style: italic;
}

/* line 88, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 91, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
abbr,
acronym {
  border-bottom: 1px dotted #666;
}

/* line 93, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 96, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 98, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
sup {
  top: -0.5em;
}

/* line 100, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
sub {
  bottom: -0.25em;
}

/* line 108, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 114, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 116, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
th {
  font-weight: bold;
}

/* line 118, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
  text-align: left;
}

/* line 124, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 126, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
del {
  color: #666;
}

/* line 132, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
select, input, textarea, button {
  font: 99% "Helvetica Neue", Arial, Helvetica, sans-serif;
  outline: none;
}

/* line 134, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
td {
  vertical-align: top;
}

/* line 136, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
textarea {
  overflow: auto;
}

/* line 139, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 141, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 145, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* line 148, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
button, input, select, textarea {
  margin: 0;
}

/* line 153, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

/* line 159, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 162, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 164, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 166, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 173, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
::-moz-selection {
  background: #0084ac;
  color: white;
  text-shadow: none;
}

/* line 174, ../src/stylesheets/vendor/boilerplate-1.0/_styles.scss */
::selection {
  background: #0084ac;
  color: white;
  text-shadow: none;
}
